/* *{    
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #9fe9ff;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;    
}
.flex-header{    
    text-align: center;
    font-family: serif;    
    padding: 0px 25px;    
    flex-basis: 0%;
    flex-grow: 0;    
    flex-shrink: 1;    
}
.name, .contenido{
    font-size: 2.5rem;
}
.implementar:hover{
    color:white;
}
#foto{
    width: 45vh;
    height: 50vh;    
    border-radius: 50%;    
    border: 3px solid black;
}
.flex-nav{
    background-color: aqua;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
}
#menu {    
    margin:auto;     
}
ul{
    position:relative;
    float:left;
    font-size: 1.8rem;    
    list-style:none;    
}

.nav > li {
    float:left;
}

.nav li a {            
    text-decoration:none;
    padding:0px 30px;
}

.nav li a:hover {
    color:white;
}                
.flex-article{
    background-color: chartreuse;
    flex-basis: 0%;
    flex-grow: 4;
    flex-shrink: 1;
}
hr{
    border: 3px solid white;
}
.flex-aside{
    background-color: firebrick;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
}

 */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{    
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    margin: 0;
    padding: 0;            
    
}
.name{    
    text-align: left;        
    font-size: 5rem;          
    height: 100vh;    
    font-weight: 900;
    background-image: url(../assets/imagenes/fondo.gif);        
    -webkit-text-stroke: 1px #359e34;        
}
.title:hover{
    -webkit-text-stroke: 1px white;
}    
.titulo{
    color: gray;
    text-align: center;
    font-size: 2rem;
}
.main .sobre_mi {
    min-height: 100vh;
    padding: 3rem 0;    
    /* color: #000000;     */
}
.main .sobre_mi .contenedor-sobre-mi .texto {
    padding: 1.5rem 0;
    background: #101010;   
    font-family: monospace, Arial;
    width: 70%;
    min-height: 27.5rem;
    margin: 0 auto;
    border-radius: 0.625rem;
}    
.main .sobre_mi{
    color: grey;
    font-weight: 100;
    line-height: 1.5;
}

.menu .contenedor .contenedor-menu{
    z-index: 100;
}
.menu {    
    z-index: 100;
    margin-top: 0rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    border-top: 0.1rem solid rgba(86, 86, 86, 0.5);
    border-bottom: 0.1rem solid rgba(86, 86, 86, 0.5);
    position: sticky;        
    top: 0;
    display: grid;
    grid-template-columns: 10% auto;
  }
  .menu .foto {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .menu .foto img {
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 1.25rem;
  }
  .menu .contenedor-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    padding: 0;
  }
  .menu .contenedor-menu a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9rem;
    line-height: 1rem;
    text-transform: uppercase;
  }
  .menu .contenedor-menu a:hover {
    color: #359e34;
  }  

  #proyectos, #hobbies{    
    flex-basis: 0%;
    flex-grow: 5;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
}
.imagen{
    text-align: center;
    flex-basis: 0%;
    flex-grow: 5;
    flex-shrink: 1;
} 
.link:hover{
    color:white;    
    border: 3px solid #359e34;
}
em{
    color: #359e34;
}
body{    
    margin: 0;    
    display: flex;
    flex-direction: column;
}
.html{
    color: #359e34;
}
.css{
    color: blue;    
}
.javascript{
    color: orange;
}
.imagenHobie{
    width: 20vh;
    height: 20vh;
    display: flex;
    flex-direction: row;
}
.main .conocimientos {
    min-height: 100vh;
    background: #ffffff;
    color: #000000;
    padding: 3rem 0;
    margin-bottom: 3rem;
  }
  .main .conocimientos .contenedor .contenedor-conocimientos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
    grid-row-gap: 2rem;
  }
.imaHobie{
    width: 15rem;
    height: 15rem;        
    border-radius: 50%;    
}

  .imaCono{
    width: 15rem;
    height: 15rem;    
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta {
    margin: 4rem auto 0 auto;
    position: relative;
    width: 15rem;
    height: 15rem;       
    overflow: hidden;
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input,
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .cambio {
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    bottom: 1.25rem;
    right: 1.25rem;
    outline: none;
    z-index: 10;
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input {
    opacity: 0;
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input:hover {
    cursor: pointer;
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input:checked ~ .black {
    box-shadow: 0 0 0 31.25rem #0d0d0d;
    transform: rotate(-225deg);
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input:checked ~ .red {
    box-shadow: 0 0 0 31.25rem #359e34;
    transform: rotate(225deg);
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .cambio {
    pointer-events: none;
    border-radius: 50%;
    color: #000000;
    background: #ffffff;
    transition: 0.5s;
    text-align: center;
    line-height: 3.125rem;
    font-size: 1.9375rem;
    box-shadow: 0 0 0 0px #393939;
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .red {
    box-shadow: 0 0 0 0px #359e34;
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .img,
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .detalles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .detalles {
    padding: 1.25rem;
    box-sizing: border-box;
    z-index: 11;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input:checked ~ .detalles {
    opacity: 1;
    transition-delay: 0.5s;
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .detalles h3 {
    margin-bottom: 0.3125rem;
    color: #ffffff;
    text-align: center;
  }
  .main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .detalles p {
    font-size: 0.9rem;
    color: #ffffff;
    line-height: 1.65;
  }

  .flex-footer{
    background-color: #359e34;
    color: white;
    text-align: center;
    padding: 2rem;    
    flex-basis: 0%;
    flex-grow: 0;
    flex-shrink: 1;
}  #botonArriba{
    position: fixed;
    bottom: 20px;
    right: -100px;
    width: 40px;
    transition: all 1s;
}
@media (max-width:750px){
    #proyectos{                
        flex-direction: column;
    }
}